entrypoint = "frontend/crowd-ui/index.html"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[env]
REPLIT_WORKING_DIR = "frontend/crowd-ui"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["npm", "run", "dev"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 5173
externalPort = 80
